html {
    scroll-behavior: smooth;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

nav ul li:hover > a {
    background-color: #555;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li a {
    padding: 10px;
    white-space: nowrap;
}

nav ul ul li a:hover {
    background-color: #555;
}
